@charset "utf-8";
/*---JS David Sain - 10/06/2023---*/
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---CSS reset complete---*/

/*---Header Start---*/

h1, h2, h3, h4 {  
  font-weight: 900;
  color: #000000;
  margin: 0.5em;
}

body {
	font-family: fenwick, sans-serif;
    font-style: normal;
    font-weight: 400;
	color: inherit;
}

.hidden {
    display: none;
}

.container {
    width: 1280px;
	margin: auto;
	background-color: #CE362B;
}

header {
	position: relative;
	display: grid;
	justify-content: center;
	justify-items: center;
	text-transform: uppercase;
}

.oval {
	margin: 15px;
	height: 170px;
    width: 300px;
    background-color: #FFFFB7;
    border-radius: 50%;
	border: #000000 2px solid;
}

header .logo {
	top: 35px;
	position: absolute;
	max-width: 210px;
}

header ul {
    flex: 2;
    display: flex;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 25px;
    display: inline;
    padding: 15px 10px;
	font-weight: 600;
}

/*---Header End---*/

/*---Main Start---*/
/*home_page_start*/

#home {
	display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
	margin-top: 10px;
	background-color: #FFFFB7;
	height: 640px;
	font-size: 18px;
}

#home h3 {
	text-transform: uppercase;
	font-size: 30px;
}

#home a {
	position: relative;
	text-decoration: none;
	color: inherit;
	border: 1px solid #000000;
	top: 25px;
	padding: 10px;
	text-transform: uppercase;
}

#home img {
	max-width: 640px;
}

.main {
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/*SOCIAL MEDIA START*/

#social_media {
/*	text-transform: uppercase;*/
	font-size: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#social_media h3 {
	text-transform: uppercase;

}

#social_media p {
	font-size: 18px;
	padding: 10px;
/*	text-transform: inherit;*/
}

.sm_posts {
	display: flex;
	height: auto;
}

.fb-post {
	margin: 10px;
	padding: 15px 0px;
}
/*SOCIAL MEDIA END*/

/*menu_page_start*/
#our_menu {
	display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
	margin-top: 10px;
	background-color: #FFFFB7;
	height: 640px;
	font-size: 18px;
}

#our_menu h3 {
	text-transform: uppercase;
	font-size: 30px;
}

#our_menu a {
	position: relative;
	text-decoration: none;
	color: inherit;
	border: 1px solid #000000;
	top: 25px;
	padding: 10px;
	text-transform: uppercase;
}

#our_menu img {
	max-width: 640px;
}

#menu {
	text-transform: uppercase;
	font-size: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  }

/*Basic Grid Styles*/
.Grid {
  display: flex;
}

.cell {
	flex: 1;
	position: relative;
	text-align: center;
	padding: 10px;
}

.cell h3 {
	text-shadow: 3px 3px 3px #A10000;
	top: 15%;
}

.cell img {
	border-radius: 30px;
	width: 100%;
}

.menu_item {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	margin: 0px;
	color: #ffffff;

}

h3.menu_item {
	margin: 0px;
	top: 50px;
}

.order {
	position: relative;
	top: -50%;
}

.order {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color: #C62D1F;
	border-radius: 18px;
	border: 1px solid #D02718;
	cursor: pointer;
	color:#ffffff;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.order:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

/*menu_page_end*/


/*About Start*/
.about_top {
	display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
	margin-top: 10px;
	background-color: #FFFFB7;
	height: 640px;
	font-size: 18px;
}

.about_top h3 {
	text-transform: uppercase;
	font-size: 30px;
}

.about_top .family {
	max-width: 640px;
}

.about_top .front {
	max-width: 500px;
}

.about_us {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.about_us h3, .about_us img, .about_us p {
	padding: 10px
}

.about_bottom {
	margin: 10px;
}

.about_bottom h3 {
	text-transform: uppercase;
	font-size: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.about_bottom p {
	font-size: 18px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.about_img {
	display: flex;
	align-items: center;
}

.about_img img {
	margin: auto;
	max-width: 380px;
    padding-bottom: 10px;
}

.about_img iframe {
	margin: auto;
	max-width: 380px;
}

/*About End*/

/*Contact Start*/

.contact_top {
	margin-top: 10px;
	padding: 10px;
	background-color: #FFFFB7;

}

.contact_top h3 {
	text-transform: uppercase;
	font-size: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact_top p {
	font-size: 18px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}



.contact_bottom {
	margin: 10px;
	display: flex;
	align-items: center;
}

.contact_bottom img {
	margin: auto;
	max-width: 380px;
    padding-bottom: 10px;
}




/*Form Start*/

form {
	border: 2px solid #000000;
	margin-bottom: 25px;
	background: #FFFFFF;
}

form, textarea{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
	font: 14px Arial;
    padding: 10px;
    width: 400px;
}

input[type=text], input[type=email], input[type=comments], textarea {
    width: 400px;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
	background-color: #FFFFFF;
}

/*
input[type=radio] {
	accent-color: #34495E;
}
*/

input[type=submit] {
	width: 100%;
    color: white;
    background-color: #34495E;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #07d;
}

input.error {
    border: 2px solid red;
}

button {
	border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 1px 1px 0px #000000;
	text-decoration: none;
    color: #FFFFFF;
}

/*
#contactMethod {
	border: 2px solid #aaa;
	margin: 0px 0 0 0;
	padding: 0px 250px 15px 2px;
}
*/

.required {
	color: red;
}

/*Form End*/





/*Contact End*/


/*END of MAIN*/








/*FOOTER START*/


footer {
	background-color: #FFFFB7;
}

#footer {
	display: grid;
	grid-template-columns: 32% 22% 12% 34%;
	text-transform: uppercase;
	font-size: 18px;
}

footer .logo {
	max-width: 300px;
	margin: 15px 15px 15px  75px;
}

.info_main {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100px;
}

.info_head {
	transform: rotate(-90deg);
}

.info_list a {
	text-decoration: none;
	color: inherit;
}

.info_list {
	margin-left: -15px;
}

.links {
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.links a {
	padding: 10px;
}

.address_main {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100px;
}

.address_head {
	transform: rotate(-90deg);
}

.address_list a {
	text-decoration: none;
	color: inherit;
}

.address_list {
	margin-left: -15px;
}

footer span {
	width: 1280px;
	background: #FFFFB7;
	position: absolute;
	padding: 10px 0px;
	display: flex;
    justify-content: space-evenly;
}

/*FOOTER END*/




/*ORDER AREA START*/
.master {
  width: 600px;
}
/* Styling for the collapsible bar */
.collapsible {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  background-color: #0077ab;
}
.active, .collapsible:hover {
  background-color: #005c7a;
}
.content {
  padding: 18px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/* Styling for the menu */
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.item {
    background-color: #ddd;
    padding: 60px;
    border: 1px solid #999;
    text-align: center;
    font-size: 20px;
}

/*ORDER AREA END*/


/*POPup START*/
/*Scroll Design*/
::-webkit-scrollbar {
	z-index: 100;
      width: 5px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
      background-color: #452732 ;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #000;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: #000;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/* Style CSS */
/*
*{
	margin: 0px;
	padding: 0px;
}
*/

input{
  outline-color: #C98474;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #A7D2CB;
    border-radius: 0px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.btnStyle{
	background-color: #C98474;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	padding: 7px 10px;
	letter-spacing: .1em;
	border-radius: 3px;
	z-index: 1;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.btnStyle:hover{
	background-color: #874C62;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
	transform: scale(1.05, 1.05);
}

.btnStyle2{
	background-color: #874C62;
}

.btnStyle2:hover{
	background-color: #C98474;
}

.btnStyle3{
	background-color: #A7D2CB;
}

.btnStyle3:hover{
	background-color: #F2D388;
}

.toggleCart{
	position: relative;
}

.fa-circle {
    font-size: 21px !important;
    color: #C98474 ;
}

.num {
    font-size: 12px;
    padding: 3px 6px;
    color: #fff;
}

.num, .fa-circle {
    position: absolute;
    right: -9px;
    top: -9px;
}

.cart{
	width: 200px;
	position: fixed;
	top: 60px;
	bottom: 0px;
	right: -300px;
	overflow-x: hidden;
	overflow-y: scroll;

	z-index: 1;
	background-color: #874C62;
	padding: 30px;
	box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);

	transition: all 0.25s ease-in-out;
}

.cart h2{
	text-align: center;
	margin-bottom: 10px;
}

#cartToggle{ 
	display: none;
}

/*where the magic happens*/
#cartToggle:checked ~ div.body-content > .cart{
	right: 0px;
}

#cartToggle:checked ~ div.body-content{
	right: 100px;
}

#cartToggle:checked ~ div.body-content > .cart > a.finishOrder{
	right: 5px;
}

.body-content{
	position: relative;
	right: 0px;
	width: 80%;
	margin: 0px auto;
	display: flex;
	justify-content: space-around;

	transition: all .2s ease-in-out;
}

/* orders */

.recipe-menu{
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.recipe{
/*	background-image: url('http://mariecatribs.com/assets/styles/images/drawn-frame-big.png');*/
	background-size: 100% 100%;
	padding: 10px;
  margin-bottom: 40px;
	width: 300px;
	position: relative;
}

.recipe img{
	width: 100%;
	height: 80%;
}

.name{
    font-size: 23px;
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 22px;
    padding: 0px 15px;
}

.recipe:hover > .addToCart{
	opacity: 1;
}

.addToCart {
	opacity: 0;
    position: absolute;
    top: 70%;
    left: 28%;
    transition: all .2s ease-in-out;
}

.checkOrder{
	padding: 50px;
}

.checkOrder {
    padding: 29px 50px !important;
}

.listHeading {
    text-align: center;
    padding: 20px 0;
}

.listOfIngredients{
	list-style: none;
	margin-bottom: 15px;
}

.listOfIngredients input{
	margin: 0px 5px;
}

.addIngredientWrap{
	display: flex;
	margin: 5px 0;
}

.addIngredientWrap input{
	width: 60%;
}

.addIngredientWrap a{
	padding: 2px 6px;
	margin: 0 5px;
	font-size: 15px;
}

.cancelInput{
	background-color: #B33232;
}

.orderName {
    padding: 13px 0px 8px 0px;
}

.orderPrice{
	float: right;
}

hr {
    margin: 25px 0 5px 0;
}

.delBtn {
    float: right;
    color: #F2D388;
    cursor: pointer;
}

.totalDialog{
	display: inline-block;
	float: right;
}

.cart > h2 > span{
	margin-left: 15px
}

.finishOrder {
    width: 200px;
    position: fixed;
    bottom: 0;
    right: -265px;
    z-index: 2;
    padding: 6px 28px;
    border-radius: 0;
    text-align: center;
}

#finishOrderDialog{
	padding: 30px;
	display: flex;
	justify-content: space-around;
}

#finalOrderList{
	width: 40%;
}

#finalOrderList h3{
	text-align: center;
}

#finalOrderList ol{
	margin: 10px 15px;
}

#buyerInfo {
    width: 60%;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#buyerInfo input {
    margin: 5px 0;
    padding: 3px;
    width: 90%;
}

#buyerInfo .order{
    display: block;
    width: 50%;
    margin-top: 10px;
    text-align:center;
}

#buyerInfo input::-webkit-input-placeholder {
   text-align: center;
}

#thanksMessage{
	padding: 20px;
}

/* Dialog Style */
.ui-dialog {
    z-index: 2;
  	box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 30px;
}

.ui-draggable-handle {
    position: absolute;
    background-color: #A7D2CB;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    z-index: 999;
}

.ui-button {
    background-color: #874C62;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    float: right;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.ui-button:hover{
  background-color: #C98474;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
	transform: scale(1.05, 1.05);
}

/*POPUP END*/

